<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>web_dfdfdfdfprj</display-name>
 
  <context-param>
    <param-name>CTX</param-name>
    <param-value>ctxctx</param-value>
  </context-param>
  
  <servlet>
    <servlet-name>ABCDEFG</servlet-name>
    <servlet-class>com.kosmo.web.FileUploadServlet</servlet-class>
    <init-param>
      <param-name>CFG</param-name>
      <param-value>cfgcfg</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ABCDEFG</servlet-name>
    <url-pattern>/FileUploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>shopname</servlet-name>
    <servlet-class>com.biz.shop.ShopServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>shopname</servlet-name>
    <url-pattern>/shop</url-pattern>
  </servlet-mapping>
  
   <jsp-config>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/core</taglib-uri>
      <taglib-location>/WEB-INF/tld/c.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/fmt</taglib-uri>
      <taglib-location>/WEB-INF/tld/fmt.tld</taglib-location>
    </taglib>
  </jsp-config>
  
  
  <welcome-file-list>
    <welcome-file>shopname</welcome-file>
  </welcome-file-list>
</web-app>